<form method="post" action="{{ path('app_user_steps_delete', {'id': user_step.id}) }}"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la démarche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_step.id) }}">
    <button class="button is-danger is-outlined mt-2 level-right">Supprimer la démarche</button>
</form>